@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    outline: none;
    border: none;
}

body {
    background: url("/rain-background.jpg");
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 1, 41, 0.407);
    backdrop-filter: blur(15px);
    z-index: -1;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    gap: 18px;
    padding: 5px;
}

.first-card, .third-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

.second-card {
    flex: 2;
    min-width: 0
}

.third-card {
    flex: 1;
}

.card {
    height: 99vh;
    border-radius: 25px;
    background: linear-gradient(rgba(6, 0, 67, 0.175), rgba(2, 0, 25, 0.5));
    box-shadow: 5px 4px 7px rgba(4, 0, 23, 0.499);
}


.input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: white;
    border-radius: 30px;
}

input {
    font-size: 20px;
    width: 70%;
    height: 50px;
    border-radius: 30px;
}

select {
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.search {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.city-now-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    gap: 20px;
    color: white;
}

.left-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    height: 100px;
    background-color: rgba(51, 68, 138, 0.381);
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(5, 5, 23, 0.696);
    cursor: pointer;
}

.left-cards:hover {
    background-color: rgb(29, 53, 109);
}

.city-and-country-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%; 
}

.city-name {
    font-size: 30px;
}

.country-name {
    font-size: 18px;
}

.temperature-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}

.temperature {
    font-size: 25px;
}

.popular-city-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    color: white;
}

.list-popular-city {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    gap: 20px;
    overflow-y: auto;
}


.info-about-city-country-temperature {
    display: flex;
    width: 100%;
    height: 65%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.weather-icon {
    width: 250px;
    height: 250px;
}
.city-text {
    font-size: 80px;
}

.country-text {
    font-size: 20px;
}

.temperature-text {
    font-size: 100px;
}

.info-about-today {
    display: flex;
    width: 100%;
    height: 35%;
    justify-content: center;
    align-items: center;
}

.card-for-today {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 70%;
    background-color: rgba(35, 32, 85, 0.337);
    border-radius: 20px 20px 0px 0px;
    overflow-x: auto;
    white-space: nowrap;
    gap: 10px;
    padding: 10px;
    scrollbar-width: thin;
    flex-shrink: 0;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: rgba(119, 0, 238, 0.6) rgba(16, 13, 55, 0.233);
}

.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto;
    width: 90px;
    height: 100%;
    gap: 15px;
    /* border: 2px solid rgba(17, 8, 51, 0.397); */
    background-color: rgba(52, 51, 100, 0.434);
    border-radius: 20px;
    padding: 7px 2px;
    box-shadow: 1px 1px 6px 1px rgba(50, 48, 109, 0.468);
}

.icon-down {
    width: 65px;
    height: 65px;
}


.time-and-icon, .temp-and-wind {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.time-and-icon p, .temp-and-wind p {
    font-size: 14px;
    color: white;
}

.info-about-tomorrow-and-five-days {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 35%;
}

/* .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(60, 73, 123, 0.195);
    width: 40%;
    height: 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;

}

.tomorrow-text, .five-days-text{
    font-size: 20px;
} */

.right-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.right-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 192px;
    border-radius: 30px;
    background-color: rgba(29, 44, 105, 0.275);
    gap: 15px;
    box-shadow: 3px 1px 10px rgba(2, 4, 13, 0.552);
}

.right-icon {
    width: 95px;
    height: 95px;
}

.right-card p {
    font-size: 19px;
    color: #bb7bfff0;
    /* text-shadow: 1px 1px 2.5px#9e7bffc3; */
    font-weight: 400;
}

/* .max-min-temp p,
.sunrise-set p {
    font-size: 18px;
} */

.time-and-icon img {
    width: 50px;
    height: 50px;
}

.card-for-data {
    display: flex;
    flex-direction: row;
    padding: 2px 10px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 15%;
    background: linear-gradient(to right, rgba(52, 51, 100, 0.434), rgba(34, 3, 96, 0.511));
    border-radius: 20px;
}
.info-about-today {
    flex-direction: column;
    color: rgba(119, 0, 238, 0.6);
    font-size: 20px;
    gap: 10px;
    justify-content: start;
}