@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    outline: none;
    border: none;
}

body {
    background: url("/rain-background.jpg");
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 1, 41, 0.407);
    backdrop-filter: blur(15px);
    z-index: -1;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    padding: 5px;
}

.first-card, .third-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

.second-card {
    flex: 2;
}

.third-card {
    flex: 1;
}

.card {
    height: 99vh;
    border-radius: 25px;
    background: linear-gradient(rgba(6, 0, 67, 0.175), rgba(2, 0, 25, 0.5));
    box-shadow: 5px 4px 7px rgba(4, 0, 23, 0.499);
}


.input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: white;
    border-radius: 30px;
}

input {
    font-size: 20px;
    width: 70%;
    height: 50px;
    border-radius: 30px;
}

input:focus {
}

.converter {
}

.converter:focus {
}

select {
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.search {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.city-now-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    gap: 20px;
    color: white;
}

.current-city-text {

}

.left-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    height: 100px;
    background-color: rgba(51, 68, 138, 0.381);
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(5, 5, 23, 0.696);
    cursor: pointer;
}

/* .city-and-fever-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    height: 100%;
    background-color: rgba(51, 68, 138, 0.381);
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(5, 5, 23, 0.696);
    cursor: pointer;
} */


.city-and-country-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%; 
}

.city-name {
    font-size: 30px;
}

.country-name {
    font-size: 18px;
}

.city-name, .country-name {
}

.fever-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}

.fever {
    font-size: 25px;
}

.popular-city-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    color: white;
}

.list-popular-city {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    gap: 20px;
    overflow-y: auto;
}

.list-popular-city::-webkit-scrollbar {
    display: none;
}

.popular-city-text {
}

.info-about-city-country-fever {
    display: flex;
    width: 100%;
    height: 65%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.weather-icon {
    width: 250px;
    height: 250px;
}
.city-text {
    font-size: 80px;
}

.country-text {
    font-size: 20px;
}

.fever-text {
    font-size: 100px;
}

.info-about-tomorrow-and-five-days {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 35%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(60, 73, 123, 0.195);
    width: 40%;
    height: 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;

}

.tomorrow-text, .five-days-text{
    font-size: 20px;
}

